
*{
  scroll-behavior: smooth; 
}
body {
  background: #e7d9ea;
  scroll-behavior: smooth; 
}

.header {
  background: rgb(38,175,161);
  background: linear-gradient(90deg, #e7d9ea 50%, #9f5f80 100%);
  padding: 30px;
  text-align: center;
  min-height: 150px;
}
.navbar{
  background:#48426d;
}
.logo{
  min-height: 400px;
  background:#98acf8;
}
.img {
  margin-top:50px;
}
.form {
  margin-top: 100px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}



